doctype html
html(ng-cloak)
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0")

        // Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        // For details, see http://go.microsoft.com/fwlink/?LinkID=617521
            
        meta(http-equiv="Content-Security-Policy", content="default-src * data:; style-src 'self' 'unsafe-inline' 'unsafe-eval'; script-src 'self' 'unsafe-inline' 'unsafe-eval';")
        title Store Hub
        
        link(href="styles/vendor.css", rel="stylesheet")
        link(href="styles/index.css", rel="stylesheet")
    body
    
        md-content(layout-fill, ui-view)
        // Cordova reference, this is added to your app when it's built.
        script(src="cordova.js")
        script(src="scripts/platformOverrides.js")
        script(src="scripts/vendor.js")
        script(src="scripts/templates.js")
        script(src="scripts/appBundle.js")
