div(class="abs-wrapper ad", layout="column")
    md-toolbar(md-scroll-shrink)
        div(class="md-toolbar-tools md-background md-foreground-contrast md-primary", md-themed)
            span(class="label") source
            md-select(ng-model="a.selectedSource", md-on-close="a.selectSource()", aria-label="source")
                md-option(ng-repeat="source in a.sources", value="{{source}}") {{source}}
    md-content(flex)
        md-grid-list(md-cols="2", md-cols-gt-sm="4", md-row-height="4:3")
            md-grid-tile(ng-repeat="ad in a.ads", md-rowspan="{{ad.height}}", md-colspan="{{ad.width}}")
                div(class="tile-container")
                    img(ng-src="{{ad.image}}")
                    a(ng-click="a.openAd(ad.url)")