div(class="abs-wrapper group-list", layout="column")
    md-toolbar(md-scroll-shrink)
        div(class="md-toolbar-tools md-background md-foreground-contrast md-primary", md-themed)
            span(class="label") source
            md-select(ng-model="gl.selectedSources", md-on-close="gl.updateSearch()",
            aria-label="source", multiple, md-selected-text="gl.getSelectedSourcesText()")
                md-select-header
                    md-button(ng-click="gl.selectAllSources()") all
                    md-button(ng-click="gl.selectNoneSources()") none
                md-optgroup(label="vietnam")
                    md-option(ng-repeat="source in gl.availableSources", ng-value="source") {{source}}
            div(class="space")
            span(class="label") sort
            md-select(ng-model="gl.selectedSort", md-on-close="gl.updateSearch()",
            aria-label="sort")
                md-option(ng-value="gl.availableSorts.relevance") {{gl.availableSorts[gl.availableSorts.relevance] | beatify}}
                md-option(ng-value="gl.availableSorts.lowPrice") {{gl.availableSorts[gl.availableSorts.lowPrice] | beatify}}
                md-option(ng-value="gl.availableSorts.highPrice") {{gl.availableSorts[gl.availableSorts.highPrice] | beatify}}
                md-option(ng-value="gl.availableSorts.newest") {{gl.availableSorts[gl.availableSorts.newest] | beatify}}
                md-option(ng-value="gl.availableSorts.oldest") {{gl.availableSorts[gl.availableSorts.oldest] | beatify}}

    md-content(flex, scroll-bottom="gl.loadMore()")
        div(class="list-simple", layout="column")
            md-grid-list(md-gutter="2px", md-cols-xs="2", md-cols-sm="3", md-cols-gt-sm="4", md-row-height="1:1")
                md-grid-tile(ng-repeat="group in gl.groups")
                    div(class="tile-container")
                        img(class="thumbnail", ng-src="{{group.products[0].media[0].url}}")
                        a(ui-sref="lobby.product({groupId: group._id, productId: group.products[0]._id})")
                    md-grid-tile-footer(ng-switch="gl.trackingStatus(group)")
                        span(class="md-foreground md-accent md-hue-1 price", md-themed, ng-if="group.products[0].price") {{group.products[0].price | number:0}} {{group.products[0].priceUnit}}
                        span(class="md-foreground md-warn price", md-themed,ng-if="!group.products[0].price") out of stock
                        md-icon(class="md-accent md-hue-3", ng-switch-when="2") notifications_active
                        md-icon(class="md-accent md-hue-3", ng-switch-when="1") favorite