div(class="abs-wrapper group-list", layout="column")
    md-toolbar(md-scroll-shrink)
        div(class="md-toolbar-tools md-background md-foreground-contrast md-primary", md-themed)
            span(class="label") source
            md-select(ng-model="gl.selectedSources", md-on-close="gl.updateSearch()",
            aria-label="source", multiple, md-selected-text="gl.getSelectedSourcesText()")
                md-select-header
                    md-button(ng-click="gl.selectAllSources()") all
                    md-button(ng-click="gl.selectNoneSources()") none
                md-optgroup(label="vietnam")
                    md-option(ng-repeat="source in gl.availableSources", ng-value="source") {{source}}
            div(class="space")
            span(class="label") sort
            md-select(ng-model="gl.selectedSort", md-on-close="gl.updateSearch()",
            aria-label="sort")
                md-option(ng-value="gl.availableSorts.relevance") {{gl.availableSorts[gl.availableSorts.relevance] | beatify}}
                md-option(ng-value="gl.availableSorts.lowPrice") {{gl.availableSorts[gl.availableSorts.lowPrice] | beatify}}
                md-option(ng-value="gl.availableSorts.highPrice") {{gl.availableSorts[gl.availableSorts.highPrice] | beatify}}
                md-option(ng-value="gl.availableSorts.newest") {{gl.availableSorts[gl.availableSorts.newest] | beatify}}
                md-option(ng-value="gl.availableSorts.oldest") {{gl.availableSorts[gl.availableSorts.oldest] | beatify}}

    md-content(flex, scroll-bottom="gl.loadMore()")
        div(layout="row", layout-wrap)
            md-button(ng-repeat="group in gl.groups", class="product-card", 
            ui-sref="lobby.product({groupId: group._id, productId: group.products[0]._id})", href="#",
            flex="100", flex-gt-xs="50")
                img(class="thumbnail", ng-src="{{group.products[0].media[0].url}}")
                div(class="info", layout="column", layout-align="start start", flex)
                    span(class="name") {{group.products[0].name}}
                    div(class="price", ng-switch="gl.trackingStatus(group)")
                        span {{group.products[0].price | number:0}} {{group.products[0].priceUnit}}
                        md-icon(ng-switch-when="2") notifications_active
                        md-icon(ng-switch-when="1") favorite
                    span(class="source") {{group.products[0].source}}