md-jump-box-absolute
    md-jump-box-container(ng-transclude, md-swipe-left="jb.goNext()", md-swipe-right="jb.goPrevious()")
md-jump-box-indicator(ng-if="jb.showIndicator")
    span {{jb.selectedIndex + 1}} of {{jb.items.length}}