md-content(class="lobby", layout-fill, layout="row")
    md-sidenav(class="md-sidenav-left md-background md-foreground-contrast md-primary", md-themed,
    md-component-id="left", md-is-locked-open="$mdMedia('gt-md')")
        div(class="head")
            div(class="item")
                md-button(class="md-icon-button", aria-label="home")
                    //- home
                    md-icon(class="md-foreground-contrast md-primary") &#xE88A;
                span Store Hub
        md-divider
        div(class="body")
            md-button(class="item md-background md-primary", aria-label="ad", href="#",
            ui-sref="lobby.ad", ui-sref-active="active md-accent", ng-click="l.closeLeftNavbar()")
                //- new_releases
                md-icon(class="md-foreground-contrast md-primary") &#xE031;
                span(class="md-foreground-contrast md-primary", md-themed) promitions &amp; advertisement 
            md-button(class="item md-background md-primary", aria-label="new_arrivals", href="#", 
            ui-sref="lobby.newArrivals", ui-sref-active="active md-accent", ng-click="l.closeLeftNavbar()")
                //- trending_up
                md-icon(class="md-foreground-contrast md-primary") &#xE8E5;
                span(class="md-foreground-contrast md-primary", md-themed) new arrivals

            div(class="categories", ng-init="closeCategories=true")
                md-button(class="item md-background md-primary", aria-label="categories",
                ng-click="closeCategories = !closeCategories", ng-class="{isClosed:  closeCategories}")
                    md-icon(class="md-foreground-contrast md-primary") library_books
                    span(class="md-foreground-contrast md-primary", md-themed) categories
                    md-icon(class="md-foreground-contrast md-primary arrow") keyboard_arrow_up
                div(class="categories_content", md-is-collapsed="closeCategories")
                    md-button(class="item md-background md-primary", aria-label="mobile_phone", href="#",
                    ui-sref="lobby.productsOfCategory({category: 1})", ui-sref-active="active md-accent", ng-click="l.closeLeftNavbar()")
                        md-icon(class="md-foreground-contrast md-primary")
                        span(class="md-foreground-contrast md-primary", md-themed) mobile phone
                    md-button(class="item md-background md-primary", aria-label="tablet", href="#",
                    ui-sref="lobby.productsOfCategory({category: 2})", ui-sref-active="active md-accent", ng-click="l.closeLeftNavbar()")
                        md-icon(class="md-foreground-contrast md-primary")
                        span(class="md-foreground-contrast md-primary", md-themed) tablet
                    md-button(class="item md-background md-primary", aria-label="laptop", href="#",
                    ui-sref="lobby.productsOfCategory({category: 3})", ui-sref-active="active md-accent", ng-click="l.closeLeftNavbar()")
                        md-icon(class="md-foreground-contrast md-primary")
                        span(class="md-foreground-contrast md-primary", md-themed) laptop
                    md-button(class="item md-background md-primary", aria-label="other", href="#",
                    ui-sref="lobby.productsOfCategory({category: 0})", ui-sref-active="active md-accent", ng-click="l.closeLeftNavbar()")
                        md-icon(class="md-foreground-contrast md-primary")
                        span(class="md-foreground-contrast md-primary", md-themed) other


            md-button(class="item md-background md-primary", aria-label="recent", href="#", 
            ui-sref="lobby.recent", ui-sref-active="active md-accent", ng-click="l.closeLeftNavbar()")
                //- access_time
                md-icon(class="md-foreground-contrast md-primary") &#xE192;
                span(class="md-foreground-contrast md-primary", md-themed) recent
        md-divider
        div(class="foot")
            md-button(class="item md-background md-primary", aria-label="wishlist", href="#",
            ui-sref="lobby.wishlist", ui-sref-active="active md-accent", ng-click="l.closeLeftNavbar()")
                //- favorite
                md-icon(class="md-foreground-contrast md-primary") &#xE87D;
                span(class="md-foreground-contrast md-primary", md-themed) wishlist
            md-button(class="item md-background md-primary", aria-label="user", href="#",
            ui-sref="lobby.user", ui-sref-active="active md-accent", ng-click="l.closeLeftNavbar()")
                //- face
                md-icon(class="md-foreground-contrast md-primary") &#xE87C;
                span(class="md-foreground-contrast md-primary", md-themed) user
            md-button(class="item md-background md-primary", aria-label="settings", href="#",
            ui-sref="lobby.setting", ui-sref-active="active md-accent", ng-click="l.closeLeftNavbar()")
                //-settings
                md-icon(class="md-foreground-contrast md-primary") &#xE8B8;
                span(class="md-foreground-contrast md-primary", md-themed) settings
    
    div(layout="column" flex)
        md-toolbar(class="general-toolbar")
            div(class="md-toolbar-tools md-background md-foreground-contrast md-primary", md-themed)
                md-button(class="md-icon-button", aria-label="back", ng-disabled="!l.canBack()", ng-click="l.back()")
                    //- keyboard_arrow_left
                    md-icon(class="md-foreground-contrast md-primary") &#xE314;
                                
                div(flex, layout="row", md-themed, class="search md-background md-foreground-contrast md-primary md-hue-1")
                    //- search
                    md-icon(class="md-foreground-contrast md-primary") &#xE8B6;
                    input(type="text", ng-model="l.searchText", class="md-foreground-contrast",
                    placeholder="what do you want to buy?", ng-change="l.search()", md-themed)
                    
                md-button(class="md-icon-button", aria-label="navigation",
                ng-click="l.openLeftNavbar()", hide-gt-md)
                    //- menu
                    md-icon(class="md-foreground-contrast md-primary") &#xE5D2;
                    
        div(class="rel-wrapper", flex)
            div(class="abs-wrapper", ui-view="")