div(class="abs-wrapper price-history", layout="column")
    md-toolbar()
        div(class="md-toolbar-tools md-background md-foreground-contrast md-primary", md-themed)
            span(class="label") last
            md-select(ng-model="ph.selectedPeriod", aria-label="period", md-on-close="ph.updateDomain()")
                md-option(ng-repeat="(periodName, periodValue) in ph.periods", ng-value="periodValue") {{periodName}}
    md-content(class="rel-wrapper", layout-padding)
        nvd3(options="ph.nvd3Options", data="ph.nvd3data", api="ph.nvd3Api", class="chart", md-themed)