div(class="product-options", layout="column", ng-show="po.loaded")
    form(name="optionForm", class="option-form", layout="column",layout-padding)
        div set tracking options for 
            a(md-themed, class="md-foreground md-accent", ui-sref="lobby.product({productId: po.product._id, groupId: po.product.groupId})") {{po.product.name}}
        md-input-container
            label Alert Frequency
            md-select(name="cycle", ng-model="po.wishItem.track.cycle")
                md-option(ng-repeat="(cycleValue, cycleName) in po.cycleOptions", ng-value="cycleValue") {{cycleName}}
        md-input-container
            label Condition Type
            md-select(name="conditionalVerb", ng-model="po.wishItem.track.conditionalVerb")
                md-option(ng-repeat="(conditionalVerbValue, conditionalVerbName) in po.conditionalVerbOptions", ng-value="conditionalVerbValue") {{conditionalVerbName}}
        md-input-container
            label Condition Value
            input(name="conditionalValue", ng-model="po.conditionalValueInput", required, ng-pattern="/^(\\d*\\.)?\\d+%?$/")
            div(ng-messages="optionForm.conditionalValue.$error", multiple, md-auto-hide="false")
                div(ng-message="required") You should put some value in there
                div(ng-message="pattern") You should input a number or a percentage
        
    md-button(class="md-raised confirm md-accent", aria-label="ok", ng-click="po.setTrack()", ng-disabled="optionForm.$invalid") OK