div(class="abs-wrapper vscroll product-detail")
    div(layout="column", class="container")
        div(class="media-wrapper")
            md-jump-box(md-jump-box-indicator, md-current-index="currentImageIndex", class="media", md-auto-height="1,0.5625")
                md-jump-box-item(ng-repeat="media in pd.product.media")
                    div(class="image-wrapper")
                        img(ng-src="{{(currentImageIndex-$index)*(currentImageIndex-$index) <= 1? media.url : '#'}}")
            md-button(class="wish md-fab" aria-label="wish", ng-class="{active: pd.isWished}", ng-click="pd.toggleWish()")
                md-icon favorite
        
        div(class="space")
        div(class="name") {{pd.product.name}}
        div(class="source md-foreground-secondary", md-themed) {{pd.product.source}}
        div(class="price")
            md-button(class="md-accent", aria-label="show_price_history", ng-click="pd.togglePriceHistory()") 
                span(ng-if="pd.product.prices[0].value") {{pd.product.prices[0].value | number:0}} {{pd.product.priceUnit}}
                span(ng-if="!pd.product.prices[0].value") out of stock
        
        div(class="brief-price-history", md-is-collapsed="!pd.showPriceHistory")
            nvd3(options="pd.nvd3Options", data="pd.product.prices", api="pd.nvd3Api", md-themed)
            md-button(class="md-accent", aria-label="view_detail_price_history", href="#", ui-sref="lobby.price-history({id: pd.product._id})") view detail
        div(class="actions", layout="row", layout-align="center stretch")
            md-button(class="md-raised", flex, flex-gt-sm="25", ng-click="pd.goToOrigin()") origin
            md-button(class="md-accent md-raised", flex, flex-gt-sm="25", 
            ng-click="pd.navigateToOptions()", aria-label="track") {{ pd.trackingStatus() === 2? "change options" : "track"}}
            md-button(class="md-raised", flex, flex-gt-sm="25", ng-if="pd.trackingStatus() === 2",
            ng-click="pd.untrack()", aria-label="untrack") untrack
        div(class="space")
        md-divider
        div(class="similar-products", ng-if="pd.products.length > 1")
            div(class="title") Similar Products
            div(class="container", layout="row", layout-wrap, layout-align="center stretch")
                md-card(ng-repeat="similarProduct in pd.products", class="md-hue-1",
                ng-class="{'md-border md-accent': pd.product._id === similarProduct._id}",
                ng-click="pd.selectProduct(similarProduct._id)"
                flex="45", flex-gt-sm="30")
                    div(class="container", layout="column", layout-padding)
                        div(class="head")
                            div(class="name") {{similarProduct.name}}
                            div(class="source md-foreground-secondary", md-themed) {{similarProduct.source}}
                        span(class="price md-foreground md-accent", md-themed, ng-switch="pd.trackingStatus(similarProduct._id)") 
                            span(ng-if="similarProduct.prices[0].value") {{similarProduct.prices[0].value | number:0}} {{similarProduct.priceUnit}}
                            span(ng-if="!similarProduct.prices[0].value") out of stock
                            md-icon(ng-switch-when="2") notifications_active
                            md-icon(ng-switch-when="1") favorite
            div(class="show-more")
                md-button(class="md-accent", aria-label="show_more_similar_products", ng-click="pd.loadMoreSimilarProducts()", ng-disabled="pd.isQuerying", ng-show="pd.canQuery") show more
            div(class="space")
            md-divider
        div(class="detail")
            md-tabs(md-swipe-content, md-dynamic-height)
                md-tab(label="description")
                    div(class="description", ng-bind-html="pd.product.description")
                md-tab(label="specification")
                    div(class="specification")
                        div(ng-repeat="(gname, gvalue) in pd.product.specification", ng-init="isCollapsed=false")
                            md-button(class="group-name md-accent", ng-click="isCollapsed = !isCollapsed", ng-class="{isClosed:  isCollapsed}")
                                div(layout="row")
                                    span(flex) {{gname}}
                                    //- keyboard_arrow_up
                                    md-icon &#xE316;
                            div(class="group-value", md-is-collapsed="isCollapsed")
                                div(ng-repeat="(pname, pvalue) in gvalue", layout="row")
                                    span(flex="40") {{pname}}
                                    span(flex) {{pvalue}}
        div(class="space")