div(class="abs-wrapper vscroll", scroll-bottom="pl.loadMore()")
    div(class="list-simple", layout="column")
        md-grid-list(md-gutter="2px", md-cols-xs="2", md-cols-sm="3", md-cols-gt-sm="4", md-row-height="1:1")
            md-grid-tile(ng-repeat="product in pl.products")
                div(class="tile-container")
                    img(class="thumbnail", ng-src="{{product.media[0].url}}")
                    a(ui-sref="lobby.product({productId: product._id, groupId: product.groupId})")
                md-grid-tile-footer
                    span(class="md-foreground md-accent md-hue-1 price", md-themed, ng-if="product.price") {{product.price | number:0}} {{product.priceUnit}}
                    span(class="md-foreground md-warn price", md-themed,ng-if="!product.price") out of stock