div(class="abs-wrapper vscroll recent")
    div(class="list-simple", layout="column")
        md-grid-list(md-gutter="1px", md-cols-xs="2", md-cols-sm="3", md-cols-gt-sm="4", md-row-height="1:1")
            md-grid-tile(ng-repeat="product in r.products")
                div(class="tile-container")
                    img(class="thumbnail", ng-src="{{product.media[0].url}}")
                    a(ui-sref="lobby.product({productId: product._id, groupId: product.groupId})")
                md-grid-tile-footer
                    div(class="name md-foreground md-accent md-hue-1", md-themed) {{product.name}}
                    div(class="age", am-time-ago="product.age")
                        