div(class="abs-wrapper setting")
    md-tabs(class="md-primary")
        md-tab
            md-tab-label Appearance
            md-tab-body
                div(class="tab-body-container")
                    md-input-container
                        label Theme
                        md-select(ng-model="s.theme.currentThemeId")
                            md-option(ng-repeat="theme in s.theme.themes" value="{{theme.id}}") {{theme.name}}
        md-tab
            md-tab-label caches
            md-tab-body
                div(class="tab-body-container")
                    div(layout="row")
                        div(flex, layout="row", layout-align="start center")
                            span(class="md-foreground md-accent", md-themed) {{s.recent.count}}&nbsp;
                            span recent visited products
                        div
                            md-button(class="md-warn", aria-label="delete_recent", ng-click="s.recent.clear()", ng-disabled="!s.recent.clear") delete
            