div(class="abs-wrapper vscroll user", layout="column", layout-padding, ng-if="u.user")
    div(class="welcome")
        span Welcome
        h1 {{u.user.firstName}} {{u.user.lastName}}
    div(class="actions", layout="row", layout-align="center stretch")
        md-button(class="md-raised", flex, flex-gt-sm="25", href="#",
        ui-sref="lobby.wishlist", aria-label="wishlist") wishlist
        md-button(class="md-warn md-raised", flex, flex-gt-sm="25",
        ng-click="u.logout()", aria-label="logout") logout

div(class="abs-wrapper vscroll user", layout="column", layout-padding, ng-if="!u.user")
    div(class="welcome")
        span Hi guest
        h1 You have not logged in yet
    div(class="actions", layout="row", layout-align="center stretch")
        md-button(class="md-accent md-raised", flex, flex-gt-sm="25",
        ng-click="u.login()", aria-label="login") login

        