.ad {
    md-toolbar {
        min-height: 48px;
        >.md-toolbar-tools {
            font-size: 16px;
            height: 48px;

            .label {
                margin-right: 4px;
            }

            md-select {
                @include margin(0 0 4px 0);
            }
        }
    }

    md-grid-list {
        md-grid-tile {
            @include animation-name(product-in);
            @include animation-duration(0.3s);
            @include animation-timing-function(ease-out);
            
            div.tile-container {
                height: 100%;
                width: 100%;
                position: relative;
                
                > img {
                    width: 100%;
                    height: 100%;
                }
                
                > a {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-radius: 0px;
                    cursor: pointer;
                    
                    &:hover {
                        background: rgba(0, 0, 0, 0.34);
                    }
                    
                    &:active {
                        background: rgba(0, 0, 0, 0.68);
                    }
                }
            }
            
            md-grid-tile-footer {
                background: rgba(0, 0, 0, 0.68);
                height: 24px;
            }
        }
    }
}