// baseline font
htnl, body {
    @extend .myriad-thin;
}

// fix unclickable issue in material menu
.md-scroll-mask {
    z-index: 0 !important;
}

// menu
.md-open-menu-container {
    box-shadow: 0px 0px 0px 1px rgba($color: #ffffff, $alpha: 0.8);
    
    md-menu-content {
        color: whitesmoke;
        
        md-menu-item {
            input[type="text"] {
                @extend .myriad-thin;
                color: whitesmoke;
                background: transparent;
                border: none;
                outline: none;
            }
        }
        
    }
}

.rel-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.abs-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    
    &.vscroll {
        overflow-y: auto;
    }
}