.group-list {
    md-toolbar {
        min-height: 48px;
        >.md-toolbar-tools {
            font-size: 16px;
            height: 48px;

            .label {
                margin-right: 4px;
            }

            md-select {
                @include margin(0 0 4px 0);
                max-width: 100px;
            }
        }

        .space {
            width: 24px;
            display: block;
        }
    }

    .product-card {
        $card-height: 128px;
        $card-padding: 8px;

        @include display(flex);
        @include align-items(stretch);
        text-transform: none;
        line-height: 1.45;
        padding: $card-padding;
        margin: 0;
        text-align: left;
        height: $card-height;
        width: 100%;            
        
        > .thumbnail {
            width: $card-height - 2*$card-padding;
            height: $card-height - 2*$card-padding;
        }
        
        > .info {
            margin-left: 8px;
            margin-top: -6px;
            
            > .name {
                @extend .myriad;
                font-size: 1.4em;
                white-space: normal;
                max-height: 84px; // = 4 lines text
                overflow: hidden; // hide the longer part
            }
            
            > .price {
                @extend .myriad-thin;
            }
            
            > .source {
                @extend .myriad-thin;
                color: #AAAAAA;
            }
        }
    }
}
