md-jump-box {
    @include user-select(none);
    position: relative;
    display: block;
    
    > md-jump-box-absolute {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        
        > md-jump-box-container {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: block;
            
            md-jump-box-item {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: block;
                
                md-jump-box-item-content {
                    @include transition-property(transform);
                    @include transition-duration(0.3s);
                    @include transition-timing-function(ease-in);
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: block;
                    
                    &.md-jump-box-left {
                        @include transform(translateX(-100%));
                    }
                    
                    &.md-jump-box-right {
                        @include transform(translateX(100%));
                    }
                }
            }
        }
    }
    
    > md-jump-box-indicator {
        position: absolute;
        bottom: 0;
        padding: 3px;
        font-size: 9px;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.3);
    }
}