@keyframes product-in {
    from {opacity: 0; transform: translateY(50%);}
    to {opacity: 1; transform: translateY(0);}
}

.list-simple {
    md-grid-list {
        md-grid-tile {
            @include animation-name(product-in);
            @include animation-duration(0.3s);
            @include animation-timing-function(ease-out);     
            
            div.tile-container {
                height: 100%;
                width: 100%;
                position: relative;
                
                > img {
                    width: 100%;
                    max-height: 100%;
                }
                
                > a {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-radius: 0px;               
                    
                    &:hover {
                        background: rgba(0, 0, 0, 0.34);
                    }
                    
                    &:active {
                        background: rgba(0, 0, 0, 0.68);
                    }
                }
            }
            
            md-grid-tile-footer {
                background: rgba(0, 0, 0, 0.68);
                height: 24px;
                >figcaption {
                    max-width: 100%;
                    padding-left: 4px;
                    padding-right: 4px;
                    box-sizing: border-box;
                }
            }
        }
    }
}