.lobby {
    .general-toolbar {
        > .md-toolbar-tools {
            .search {
                padding-top: 6px;
                padding-bottom: 6px;
                border-radius: 3px;
                
                > md-icon {
                    margin-left: 6px;
                    margin-right: 6px;
                }
                
                > input[type="text"] {
                    @extend .myriad-thin;
                    font-size: 16px;
                    line-height: 1.5em;
                    margin: 0;
                    padding: 0;
                    background: transparent;
                    border: none;
                    width: 100%;
                    outline: none;
                }
            }
        }
    }

    .md-button.isClosed {
        md-icon.arrow {
            @include transform(rotate(180deg));
        }
    }
}

