.price-history {
    md-toolbar {
        min-height: 48px;
        >.md-toolbar-tools {
            font-size: 16px;
            height: 48px;

            .label {
                margin-right: 4px;
            }

            md-select {
                @include margin(0 0 4px 0);
            }
        }
    }
    
    nvd3 {
        display: block;
    }
}