.product-options {
    .space {
        height: 8px;
    }
    
    md-menu {
        padding: 0;
        
        > span {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .confirm {
        align-self: center;
    }
}

