.product-detail {
    .space {
        height: 16px;
    }
    
    > .container {
        .image-wrapper {
            height: 100%;
            width: 100%;
            position: relative;
            
            > img {
                position: absolute;
                top: 50%;
                @include transform(translateY(-50%));
                height: auto;
                width: 100%;
                pointer-events: none;
            } 
        }
        
        >md-divider {
            margin-left: 8px;
            margin-right: 8px;
        }
        
        >.media-wrapper {
            >.wish {
                position: absolute;
                right: 0;
                margin-top: 0;
                margin-bottom: 0;
                @include transform(translateY(-50%));
                @include prefixer(filter, grayscale(100%), spec webkit ms);
                @include transition-property(filter, -webkit-filter, -ms-filter);
                @include transition-duration(0.3s);
                @include transition-timing-function(ease-in);
                
                &.active {
                    @include prefixer(filter, grayscale(0%), spec webkit ms);
                }
            }
        }
        
        >.name {
            font-size: 18px;
            text-align: center;
        }
        
        >.price {
            text-align: center;
            span {
                font-weight: bold;
            }
        }
        
        >.source {
            text-align: center;
            font-size: 14px;
        }

        >.brief-price-history {
            text-align: center;
            >.md-button {
                margin: 0;
                text-transform: none;
                align-self: center;
            }
                    
            >nvd3 {
                font-size: 9px;
                width: 90%;
            }
        }
        
        >.similar-products {
            >.title {
                text-align: center;
                padding-left: 8px;
                padding-right: 8px;
                margin-top: 8px;
                margin-bottom: 8px;
            }
            
            >.container {
                > md-card {
                    font-size: 14px;
                    cursor: pointer;
                    @include border-color(transparent);
                    @include border-style(solid);
                    @include border-width(1px);
                    >.head {
                        >.source {
                            font-size: 12px;
                        }
                    }
                }
            }
            
            >.show-more {
                text-align: center;
                >.md-button {
                    margin: 0;
                    text-transform: none;
                    align-self: center;
                }
            }
        }

        >.detail {
            padding-left: 8px;
            padding-right: 8px;
            .description {
                h1,h2,h3 {
                    font-weight: normal;
                }
                
                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 100%;
                }
            }
                    
            .specification {
                .group-name {
                    margin-left: 0;
                    margin-right: 0;
                    width: 100%;
                    text-align: left;
                    
                    md-icon {
                        @include transition-property(transform);
                        @include transition-duration(0.3s);
                        @include transition-timing-function(ease-in-out);
                    }
                    
                    &.isClosed {
                        md-icon {
                            @include transform(rotate(180deg));
                        }
                    }
                }
                
                .group-value {
                    font-size: 14px;
                    padding-left: 6px;
                    padding-right: 6px;
                }
            }
        }
    }
}