.recent {
    md-grid-list {
        md-grid-tile {
            md-grid-tile-footer {
                height: 32px;
                .age {
                    font-size: 11px;
                }
                .name {
                    @include ellipsis;
                }
            }
        }
    }
}