md-sidenav  {
    @include display(flex);
    
    $item-height-base: 47px;
    .head, .body, .foot {
        .item {            
            @include display(flex);
            @include align-items(center);
            @include flex-direction(row);
            height: $item-height-base;
            max-height: $item-height-base;
            margin: 0;
            padding: 0 16px;
            width: 100%;
            text-align: left;
            box-sizing: border-box;
            text-transform: none;
            font-size: 1.1em;
                  
            > :first-child {
                margin-right: 8px;
            }
            
            > :nth-child(2) {
                @include flex(1);
            }
            
            &.active {
                pointer-events: none;
            }
        }
    }
    
    .head {
        .item {
            @extend .myriad;
            height: 64px;
            max-height: 64px;
            font-size: 1.3em;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            
            @media only screen and (max-width: 959px) and (min-width: 0) and (orientation: portrait) {
                max-height: 56px;
            }
            
            @media only screen and (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
                max-height: 48px;
            }
            
            > .md-icon-button {
                margin-left: -8px;
                margin-right: 0;
            }
        }
    }
    
    .body {
        @include flex(1)
    }
}

