@include font-face("Myriad Set Pro", 
    "../fonts/MyriadSetPro-Regular",
    $weight: normal,
    $style: normal,
    $file-formats: woff2 woff);

@include font-face("Myriad Set Pro", 
    "../fonts/MyriadSetPro-Bold",
    $weight: bold,
    $style: normal,
    $file-formats: woff2 woff);

@include font-face("Myriad Set Pro", 
    "../fonts/MyriadSetPro-Thin",
    $weight: 200,
    $style: normal,
    $file-formats: woff2 woff);

.myriad {
    font-family: "Myriad Set Pro", "Roboto", "Helvetica Neue", sans-serif;
    font-weight: normal;
}

.myriad-thin {
    font-family: "Myriad Set Pro", "Roboto", "Helvetica Neue", sans-serif;
    font-weight: 200;
}

.myriad-bold {
    font-family: "Myriad Set Pro", "Roboto", "Helvetica Neue", sans-serif;
    font-weight: bold;
}