// Define font face for roboto

@include font-face("Roboto", 
    "../fonts/Roboto-Regular",
    $weight: normal,
    $style: normal,
    $file-formats: woff2 woff);

@include font-face("Roboto", 
    "../fonts/Roboto-Thin",
    $weight: 200,
    $style: normal,
    $file-formats: woff2 woff);

.roboto {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: normal;
}

.roboto-thin {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: 200;
}